@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@100&family=Roboto:wght@300&display=swap');
*{
margin:0;
padding:0;
font-family: 'Roboto', sans-serif;
	}
body
{
background:url(bgbg.jpg);
background-size:cover;

}
.loginbx{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:380px;
	height:350px;
	display:inline-block;
	background:#fff;
	border-radius:3px;
	backdrop-filter:20px;
	text-align:center;
}
.loginbx h2{
	
	display:block;
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	margin-top:40px;
	width:242px;
	height:22px;
	text-align:center;

	letter-spacing:2px;
	
}
.loginbx input{
	
	display:block;
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	margin-top:40px;
	width:245px;
	height:25px;
	text-align:center;
	border:0.8px solid #5892fc;
	letter-spacing:2px;
	
}
.loginbx input,h2:focus{
	outline:none;
	display:block;
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	margin-top:40px;
	width:245px;
	height:25px;
	text-align:center;
	letter-spacing:2px;
	
}
.loginbx input[type="submit"]{
	
	display:block;
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	margin-top:40px;
	width:160px;
	height:25px;
	text-align:center;
	background:#5892fc;
	border:none;
	border-radius:3px;
	color:#fff;
	
	
	
}
.loginbx h5{
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:block;
	
	text-align:center;
	width:280px;
	
	border:none;
	border-radius:3px;
	
	
}
.loginbx h4{
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:block;
	cursor:pointer;
	color:blue;
	text-align:center;
	width:280px;
	
	border:none;
	border-radius:3px;
	
	
}
.reg{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:380px;
	height:430px;
background:#ffffff;
border-radius:3px;}
.reg input{
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:block;
	margin-bottom:30px;
	margin-top:20px;
	text-align:center;
	width:280px;
	height:23.5px;
	border:none;
	border-radius:3px;
	border:1px solid blue;
    color:black;
letter-spacing:1.5px;	
}
.reg input:focus{
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:block;
	margin-bottom:30px;
	margin-top:20px;
	text-align:center;
	width:280px;
	height:23.5px;
	border:none;
	border-radius:3px;
	border:1px solid blue;
    color:black;
letter-spacing:1.5px;	
outline:none;

}
.reg h2{
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:block;
	margin-bottom:30px;
	margin-top:20px;
	text-align:center;
	width:280px;
	height:23.5px;
	border:none;
	border-radius:3px;
	
	
}
.reg input[type="submit"]{
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:block;
	margin-bottom:30px;
	margin-top:20px;
	text-align:center;
	width:180px;
	height:23.5px;
	border:none;
	border-radius:3px;
	border:1px solid blue;
	background:blue;
	color:white;
	letter-spacing:1px;
	
}
.reg h5{
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:block;
	
	text-align:center;
	width:280px;
	
	border:none;
	border-radius:3px;
	
	
}
.reg h4{
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:block;
	cursor:pointer;
	color:blue;
	text-align:center;
	width:280px;
	
	border:none;
	border-radius:3px;
	
	
}

@keyframes animate{
	0%{
      top:-40%;
	}
	100%{
		top:0%;
	}
	
}